<div class="container p-3">
    <div class="text-end">
        <i (click)="onclick()" class="text-danger fs-4 fa-solid fa-circle-xmark cursor-pointer"></i>
    </div>
    <form [formGroup]="changePassForm" (ngSubmit)="onChangePass(changePassForm)">
        <label for="" class="mb-1">Current Password</label>
        <input formControlName="currentPassword" type="text" name="" id="" class="form-control mb-2">

        <label for="" class="mb-1">New Password</label>
        <input formControlName="password" type="text" name="" id="" class="form-control mb-2">

        <label for="" class="mb-1">RePassword</label>
        <input formControlName="rePassword" type="text" name="" id="" class="form-control mb-2">

        <button type="submit" [disabled]="changePassForm.invalid"  class="btn bg-main text-white mt-4 w-100">Change
            Password</button>
    </form>
</div>